apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: payment-api
  template:
    metadata:
      labels:
        app: payment-api
    spec:
      containers:
      - name: api
        image: payment-api:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8080
        env:
        - name: AWS__ServiceURL
          value: "http://host.docker.internal:4566"
        - name: AWS__TopicArn
          value: "arn:aws:sns:us-east-1:000000000000:PaymentEvents"
---
apiVersion: v1
kind: Service
metadata:
  name: payment-api-service
spec:
  type: NodePort
  selector:
    app: payment-api
  ports:
    - port: 80
      targetPort: 8080
      nodePort: 30001